@import "reset.css";
@import "variable.css";

body{
  font-family: 'Montserrat', sans-serif;
}

.logo{
  min-height: 50px;
}

.text-justify{
  text-align: justify;
}

.bullet{
  list-style: disc;
}

img[src$=".svg"]{
  max-height: 140px;
}

strong{
  font-weight: 700;
  color: var(--primary);
}

nav .active{
  font-weight: bold;
}

input::placeholder, textarea::placeholder{
  color: rgba(0, 0, 0, 0.25)!important;
}

